<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.app.dao.TemplateDAO" > 
 
    <resultMap id="resultMap" type="cloud.app.entity.Template">
        <result column="id" property="id" jdbcType="VARCHAR"  />
        <result column="user_id" property="user_id" jdbcType="VARCHAR"  />
        <result column="name" property="name" jdbcType="VARCHAR"  />
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"  /> 
        <result column="createor" property="createor" jdbcType="VARCHAR"  />
        <result column="update_date" property="update_date" jdbcType="TIMESTAMP"  /> 
        <result column="editor" property="editor" jdbcType="VARCHAR"  />    
        <result column="context" property="context" jdbcType="LONGVARCHAR"  />         
        <result column="resolution" property="resolution" jdbcType="VARCHAR"  />
        <result column="stream_left" property="stream_left" jdbcType="VARCHAR"  />  
        <result column="stream_top" property="stream_top" jdbcType="VARCHAR"  />  
        <result column="stream_width" property="stream_width" jdbcType="VARCHAR"  />  
        <result column="stream_height" property="stream_height" jdbcType="VARCHAR"  />  
        <result column="video_stream" property="video_stream" jdbcType="VARCHAR"  />    
        <result column="imgae_url" property="imgae_url" jdbcType="VARCHAR"  />
        <result column="video_url" property="video_url" jdbcType="VARCHAR"  />
        <result column="videoPlace_url" property="videoPlace_url" jdbcType="VARCHAR"  />  
        <result column="context_video" property="context_video" jdbcType="VARCHAR"  /> 
        <result column="affiliations" property="affiliations" jdbcType="VARCHAR"  />  
        <result column="pdf_url" property="pdf_url" jdbcType="VARCHAR"  /> 
        <result column="play_time" property="play_time" jdbcType="VARCHAR"  />          
    </resultMap>
    
    
     <insert id="save" parameterType="cloud.app.entity.Template"> 
		insert into t_template
		( 
			id,user_id,name,create_date,createor, update_date,editor,context,resolution,stream_left,stream_top,stream_width,stream_height,video_stream,imgae_url,video_url,videoPlace_url,context_video,affiliations,pdf_url,play_time
		) 
		value
		( 
			#{id},#{user_id},#{name},#{create_date},#{createor},#{update_date},#{editor},#{context},#{resolution},#{stream_left},#{stream_top},#{stream_width},#{stream_height},#{video_stream},#{imgae_url},#{video_url},#{videoPlace_url},#{context_video},#{affiliations},#{pdf_url},#{play_time}
		) 
	</insert>
	
	<update id="update" parameterType="cloud.app.entity.Template">
        UPDATE t_template
        <set>  
         
        	<if test="null != name">
				name = #{name},
			</if>
			<if test="null != update_date">
				 update_date = SYSDATE(),     
			</if>
			<if test="null != editor">
				editor = #{editor},
			</if>			
			<if test="null != context">
				context = #{context},
			</if>
			<if test="null != resolution">
				resolution = #{resolution},
			</if>
			<if test="null != stream_left">
				stream_left = #{stream_left},
			</if>
			<if test="null != stream_top">
				stream_top = #{stream_top},
			</if>
			<if test="null != stream_width">
				stream_width = #{stream_width},
			</if>
			<if test="null != stream_height">
				stream_height = #{stream_height},
			</if>
			<if test="null != video_stream">
				video_stream = #{video_stream},
			</if>
			<if test="null != imgae_url">
				imgae_url = #{imgae_url},
			</if>
			<if test="null != video_url">
				video_url = #{video_url},
			</if>
			<if test="null != videoPlace_url">
				videoPlace_url = #{videoPlace_url},
			</if>
			<if test="null != context_video">
				context_video = #{context_video},
			</if>
			<if test="null != pdf_url">
				pdf_url = #{pdf_url},
			</if>
			<if test="null != play_time">
				play_time = #{play_time},
			</if>							
        </set>
        WHERE ID = #{id}
    </update>
    
    <delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM t_template WHERE id = #{id}
	</delete>
	
	 <delete id="deleteByIdS" parameterType="java.util.Map">
		DELETE FROM t_template WHERE id in  
       <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
							  #{item}  
				</foreach>  
	</delete>
	
    <select id="getList" parameterType="cloud.app.entity.Template" resultMap="resultMap" >
        SELECT * FROM t_template  WHERE 1=1 
		<if test="null != resolution and resolution != ''">
			AND resolution = #{resolution}
		</if>	
		<if test="null != name and name != ''">
			AND name like CONCAT('%',#{name},'%')  
		</if>
		<if test="null != affiliationsLists and affiliationsLists.size() > 0 ">
			AND affiliations in
			 <foreach collection="affiliationsLists" item="item" index="index" open="(" close=")" separator=",">
           	 		#{item}
        	</foreach>
		</if>
		<if test="startTime !=null and startTime!=''">
	    	<![CDATA[ and DATE_FORMAT(create_date, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')]]>
	    </if>
	    <if test="endTime !=null and endTime!=''">
	   	 	<![CDATA[ and DATE_FORMAT(create_date, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
	    </if>
	    order by create_date desc  	
		limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="count" parameterType="cloud.app.entity.Template" resultType="int" >
       SELECT count(1) FROM t_template  WHERE 1=1 
	     <if test="null != resolution and resolution != ''">
			AND resolution = #{resolution}
		</if>
		<if test="null != name and name != ''">
			AND name like CONCAT('%',#{name},'%')  
		</if>
		<if test="null != affiliationsLists and affiliationsLists.size() > 0 ">
			AND affiliations in
			 <foreach collection="affiliationsLists" item="item" index="index" open="(" close=")" separator=",">
           	 		#{item}
        	</foreach>
		</if>
		<if test="startTime !=null and startTime!=''">
	    	<![CDATA[   and DATE_FORMAT(create_date, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
	    </if>
	    <if test="endTime !=null and endTime!=''">
	   	 	<![CDATA[  and DATE_FORMAT(create_date, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
	    </if>		  	
    </select>
    
 <select id="getObjById" parameterType="java.lang.String" resultMap="resultMap">
        SELECT * FROM t_template  WHERE id = #{id}
 </select>
   
</mapper>