@charset "utf-8";
.pictureImg canvas{ position: absolute; backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.pictureImg img{ position: absolute; -webkit-transition: opacity .3s; transition: opacity .3s; text-align:left; }

