<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.app.order.dao.PaymentDAO" >
  <resultMap id="BaseResultMap" type="cloud.app.order.model.Payment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="paymentSn" property="paymentsn" jdbcType="VARCHAR" />
    <result column="paymentType" property="paymenttype" jdbcType="INTEGER" />
    <result column="paymentConfig_id" property="paymentconfigId" jdbcType="VARCHAR" />
    <result column="paymentConfigName" property="paymentconfigname" jdbcType="VARCHAR" />
    <result column="bankName" property="bankname" jdbcType="VARCHAR" />
    <result column="bankAccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="totalAmount" property="totalamount" jdbcType="DECIMAL" />
    <result column="paymentFee" property="paymentfee" jdbcType="DECIMAL" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="paymentStatus" property="paymentstatus" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cloud.app.order.model.Payment" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createDate, modifyDate, paymentSn, paymentType, paymentConfig_id, paymentConfigName, 
    bankName, bankAccount, totalAmount, paymentFee, payer, operator, paymentStatus, order_id
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_payment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_payment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cloud.app.order.model.Payment" >
    insert into t_payment (id, createDate, modifyDate, 
      paymentSn, paymentType, paymentConfig_id, 
      paymentConfigName, bankName, bankAccount, 
      totalAmount, paymentFee, payer, 
      operator, paymentStatus, order_id, 
      memo)
    values (#{id,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{paymentsn,jdbcType=VARCHAR}, #{paymenttype,jdbcType=INTEGER}, #{paymentconfigId,jdbcType=VARCHAR}, 
      #{paymentconfigname,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{bankaccount,jdbcType=VARCHAR}, 
      #{totalamount,jdbcType=DECIMAL}, #{paymentfee,jdbcType=DECIMAL}, #{payer,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{paymentstatus,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{memo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cloud.app.order.model.Payment" >
    insert into t_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
      <if test="paymentsn != null" >
        paymentSn,
      </if>
      <if test="paymenttype != null" >
        paymentType,
      </if>
      <if test="paymentconfigId != null" >
        paymentConfig_id,
      </if>
      <if test="paymentconfigname != null" >
        paymentConfigName,
      </if>
      <if test="bankname != null" >
        bankName,
      </if>
      <if test="bankaccount != null" >
        bankAccount,
      </if>
      <if test="totalamount != null" >
        totalAmount,
      </if>
      <if test="paymentfee != null" >
        paymentFee,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="paymentstatus != null" >
        paymentStatus,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentsn != null" >
        #{paymentsn,jdbcType=VARCHAR},
      </if>
      <if test="paymenttype != null" >
        #{paymenttype,jdbcType=INTEGER},
      </if>
      <if test="paymentconfigId != null" >
        #{paymentconfigId,jdbcType=VARCHAR},
      </if>
      <if test="paymentconfigname != null" >
        #{paymentconfigname,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="paymentfee != null" >
        #{paymentfee,jdbcType=DECIMAL},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="paymentstatus != null" >
        #{paymentstatus,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cloud.app.order.model.Payment" >
    update t_payment
    <set >
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentsn != null" >
        paymentSn = #{paymentsn,jdbcType=VARCHAR},
      </if>
      <if test="paymenttype != null" >
        paymentType = #{paymenttype,jdbcType=INTEGER},
      </if>
      <if test="paymentconfigId != null" >
        paymentConfig_id = #{paymentconfigId,jdbcType=VARCHAR},
      </if>
      <if test="paymentconfigname != null" >
        paymentConfigName = #{paymentconfigname,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankAccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        totalAmount = #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="paymentfee != null" >
        paymentFee = #{paymentfee,jdbcType=DECIMAL},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="paymentstatus != null" >
        paymentStatus = #{paymentstatus,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cloud.app.order.model.Payment" >
    update t_payment
    set createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      paymentSn = #{paymentsn,jdbcType=VARCHAR},
      paymentType = #{paymenttype,jdbcType=INTEGER},
      paymentConfig_id = #{paymentconfigId,jdbcType=VARCHAR},
      paymentConfigName = #{paymentconfigname,jdbcType=VARCHAR},
      bankName = #{bankname,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      paymentFee = #{paymentfee,jdbcType=DECIMAL},
      payer = #{payer,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      paymentStatus = #{paymentstatus,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cloud.app.order.model.Payment" >
    update t_payment
    set createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      paymentSn = #{paymentsn,jdbcType=VARCHAR},
      paymentType = #{paymenttype,jdbcType=INTEGER},
      paymentConfig_id = #{paymentconfigId,jdbcType=VARCHAR},
      paymentConfigName = #{paymentconfigname,jdbcType=VARCHAR},
      bankName = #{bankname,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      paymentFee = #{paymentfee,jdbcType=DECIMAL},
      payer = #{payer,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      paymentStatus = #{paymentstatus,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>