<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.app.commodity.dao.ProductAttributesDAO" >
 	
    <resultMap id="resultMap" type="cloud.app.commodity.model.ProductAttributes">
        <result column="id" property="id" jdbcType="VARCHAR"  />
        <result column="order_value" property="order_value" jdbcType="INTEGER"  />
         <result column="productCategoryId" property="productCategoryId" jdbcType="VARCHAR"  />
        <result column="att_options" property="att_options" jdbcType="VARCHAR"  />
        <result column="attr_name" property="attr_name" jdbcType="VARCHAR"  />
        <result column="create_user" property="create_user" jdbcType="VARCHAR"  />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"  />
        <result column="update_user" property="update_user" jdbcType="VARCHAR"  />
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP"  />       
    </resultMap>
    
    <insert id="save" parameterType="cloud.app.commodity.model.ProductAttributes"> 
		insert into t_product_attributes
		( 
			id,order_value,att_options,create_time,update_user,update_time,create_user,productCategoryId,attr_name
		) 
		value
		( 
			#{id},#{order_value},#{att_options},#{create_time},#{update_user},#{update_time},#{create_user},#{productCategoryId},#{attr_name}
		) 
	</insert>
	
	<update id="update" parameterType="cloud.app.commodity.model.ProductAttributes">
        UPDATE t_product_attributes
        <set>
         update_time = SYSDATE(),
        	<if test="null != att_options">
				att_options = #{att_options},
			</if>
			<if test="null != order_value">
				order_value = #{order_value},
			</if>
			<if test="null != productCategoryId">
				productCategoryId = #{productCategoryId},
			</if>
			<if test="null != update_user">
				update_user = #{update_user},
			</if>
			<if test="null != attr_name and attr_name != ''">
				attr_name = #{attr_name},
			</if>
        </set>
        WHERE ID = #{id}
    </update>
    
    <delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM t_product_attributes WHERE id = #{id}
	</delete>
	
    <select id="getList" parameterType="cloud.app.commodity.model.ProductAttributes" resultMap="resultMap" >
		 SELECT
			t.id,
			t.order_value,
			t.att_options,
			t.create_time,
			t.update_user,
			t.update_time,
			t.create_user,
			tpc.category_name productCategoryId,
			t.attr_name
		FROM
			t_product_attributes t
		LEFT JOIN t_product_category tpc ON tpc.id = t.productCategoryId  WHERE 1=1 
		<if test="null != att_options and att_options != ''">
			AND t.att_options = #{att_options}
		</if>
		<if test="null != order_value and order_value != ''">
			AND t.order_value = #{order_value}
		</if>
		<if test="null != productCategoryId and productCategoryId != ''">
			AND t.productCategoryId = #{productCategoryId}
		</if>
		<if test="null != attr_name and attr_name != ''">
			AND t.attr_name = #{attr_name}
		</if>		
		ORDER BY order_value		
		limit #{pageIndex},#{pageSize}
    </select>
    
     <select id="count" parameterType="cloud.app.commodity.model.ProductAttributes" resultType="int" >
       SELECT count(1) FROM t_product_attributes  WHERE 1=1 
		<if test="null != att_options and att_options != ''">
			AND att_options = #{att_options}
		</if>
		<if test="null != order_value and order_value != ''">
			AND order_value = #{order_value}
		</if>
		<if test="null != productCategoryId and productCategoryId != ''">
			AND productCategoryId = #{productCategoryId}
		</if>
		<if test="null != attr_name and attr_name != ''">
			AND attr_name = #{attr_name}
		</if>			
    </select>


    <select id="getObjById" parameterType="java.lang.String" resultMap="resultMap" >
        SELECT * FROM t_product_attributes  WHERE id = #{id}
    </select>
    

  
	  
	 
</mapper>