<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.app.order.dao.ReshipDAO" >
  <resultMap id="BaseResultMap" type="cloud.app.order.model.Reship" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="reshipSn" property="reshipsn" jdbcType="VARCHAR" />
    <result column="deliveryTypeName" property="deliverytypename" jdbcType="VARCHAR" />
    <result column="deliveryCorpName" property="deliverycorpname" jdbcType="VARCHAR" />
    <result column="deliverySn" property="deliverysn" jdbcType="VARCHAR" />
    <result column="deliveryFee" property="deliveryfee" jdbcType="DECIMAL" />
    <result column="shipName" property="shipname" jdbcType="VARCHAR" />
    <result column="shipArea" property="shiparea" jdbcType="VARCHAR" />
    <result column="shipAreaPath" property="shipareapath" jdbcType="VARCHAR" />
    <result column="shipAddress" property="shipaddress" jdbcType="VARCHAR" />
    <result column="shipZipCode" property="shipzipcode" jdbcType="VARCHAR" />
    <result column="shipPhone" property="shipphone" jdbcType="VARCHAR" />
    <result column="shipMobile" property="shipmobile" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="deliveryType_id" property="deliverytypeId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cloud.app.order.model.Reship" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createDate, modifyDate, reshipSn, deliveryTypeName, deliveryCorpName, deliverySn, 
    deliveryFee, shipName, shipArea, shipAreaPath, shipAddress, shipZipCode, shipPhone, 
    shipMobile, order_id, deliveryType_id
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_reship
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_reship
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cloud.app.order.model.Reship" >
    insert into t_reship (id, createDate, modifyDate, 
      reshipSn, deliveryTypeName, deliveryCorpName, 
      deliverySn, deliveryFee, shipName, 
      shipArea, shipAreaPath, shipAddress, 
      shipZipCode, shipPhone, shipMobile, 
      order_id, deliveryType_id, memo
      )
    values (#{id,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{reshipsn,jdbcType=VARCHAR}, #{deliverytypename,jdbcType=VARCHAR}, #{deliverycorpname,jdbcType=VARCHAR}, 
      #{deliverysn,jdbcType=VARCHAR}, #{deliveryfee,jdbcType=DECIMAL}, #{shipname,jdbcType=VARCHAR}, 
      #{shiparea,jdbcType=VARCHAR}, #{shipareapath,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, 
      #{shipzipcode,jdbcType=VARCHAR}, #{shipphone,jdbcType=VARCHAR}, #{shipmobile,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{deliverytypeId,jdbcType=VARCHAR}, #{memo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cloud.app.order.model.Reship" >
    insert into t_reship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
      <if test="reshipsn != null" >
        reshipSn,
      </if>
      <if test="deliverytypename != null" >
        deliveryTypeName,
      </if>
      <if test="deliverycorpname != null" >
        deliveryCorpName,
      </if>
      <if test="deliverysn != null" >
        deliverySn,
      </if>
      <if test="deliveryfee != null" >
        deliveryFee,
      </if>
      <if test="shipname != null" >
        shipName,
      </if>
      <if test="shiparea != null" >
        shipArea,
      </if>
      <if test="shipareapath != null" >
        shipAreaPath,
      </if>
      <if test="shipaddress != null" >
        shipAddress,
      </if>
      <if test="shipzipcode != null" >
        shipZipCode,
      </if>
      <if test="shipphone != null" >
        shipPhone,
      </if>
      <if test="shipmobile != null" >
        shipMobile,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="deliverytypeId != null" >
        deliveryType_id,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="reshipsn != null" >
        #{reshipsn,jdbcType=VARCHAR},
      </if>
      <if test="deliverytypename != null" >
        #{deliverytypename,jdbcType=VARCHAR},
      </if>
      <if test="deliverycorpname != null" >
        #{deliverycorpname,jdbcType=VARCHAR},
      </if>
      <if test="deliverysn != null" >
        #{deliverysn,jdbcType=VARCHAR},
      </if>
      <if test="deliveryfee != null" >
        #{deliveryfee,jdbcType=DECIMAL},
      </if>
      <if test="shipname != null" >
        #{shipname,jdbcType=VARCHAR},
      </if>
      <if test="shiparea != null" >
        #{shiparea,jdbcType=VARCHAR},
      </if>
      <if test="shipareapath != null" >
        #{shipareapath,jdbcType=VARCHAR},
      </if>
      <if test="shipaddress != null" >
        #{shipaddress,jdbcType=VARCHAR},
      </if>
      <if test="shipzipcode != null" >
        #{shipzipcode,jdbcType=VARCHAR},
      </if>
      <if test="shipphone != null" >
        #{shipphone,jdbcType=VARCHAR},
      </if>
      <if test="shipmobile != null" >
        #{shipmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="deliverytypeId != null" >
        #{deliverytypeId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cloud.app.order.model.Reship" >
    update t_reship
    <set >
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="reshipsn != null" >
        reshipSn = #{reshipsn,jdbcType=VARCHAR},
      </if>
      <if test="deliverytypename != null" >
        deliveryTypeName = #{deliverytypename,jdbcType=VARCHAR},
      </if>
      <if test="deliverycorpname != null" >
        deliveryCorpName = #{deliverycorpname,jdbcType=VARCHAR},
      </if>
      <if test="deliverysn != null" >
        deliverySn = #{deliverysn,jdbcType=VARCHAR},
      </if>
      <if test="deliveryfee != null" >
        deliveryFee = #{deliveryfee,jdbcType=DECIMAL},
      </if>
      <if test="shipname != null" >
        shipName = #{shipname,jdbcType=VARCHAR},
      </if>
      <if test="shiparea != null" >
        shipArea = #{shiparea,jdbcType=VARCHAR},
      </if>
      <if test="shipareapath != null" >
        shipAreaPath = #{shipareapath,jdbcType=VARCHAR},
      </if>
      <if test="shipaddress != null" >
        shipAddress = #{shipaddress,jdbcType=VARCHAR},
      </if>
      <if test="shipzipcode != null" >
        shipZipCode = #{shipzipcode,jdbcType=VARCHAR},
      </if>
      <if test="shipphone != null" >
        shipPhone = #{shipphone,jdbcType=VARCHAR},
      </if>
      <if test="shipmobile != null" >
        shipMobile = #{shipmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="deliverytypeId != null" >
        deliveryType_id = #{deliverytypeId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cloud.app.order.model.Reship" >
    update t_reship
    set createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      reshipSn = #{reshipsn,jdbcType=VARCHAR},
      deliveryTypeName = #{deliverytypename,jdbcType=VARCHAR},
      deliveryCorpName = #{deliverycorpname,jdbcType=VARCHAR},
      deliverySn = #{deliverysn,jdbcType=VARCHAR},
      deliveryFee = #{deliveryfee,jdbcType=DECIMAL},
      shipName = #{shipname,jdbcType=VARCHAR},
      shipArea = #{shiparea,jdbcType=VARCHAR},
      shipAreaPath = #{shipareapath,jdbcType=VARCHAR},
      shipAddress = #{shipaddress,jdbcType=VARCHAR},
      shipZipCode = #{shipzipcode,jdbcType=VARCHAR},
      shipPhone = #{shipphone,jdbcType=VARCHAR},
      shipMobile = #{shipmobile,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      deliveryType_id = #{deliverytypeId,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cloud.app.order.model.Reship" >
    update t_reship
    set createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      reshipSn = #{reshipsn,jdbcType=VARCHAR},
      deliveryTypeName = #{deliverytypename,jdbcType=VARCHAR},
      deliveryCorpName = #{deliverycorpname,jdbcType=VARCHAR},
      deliverySn = #{deliverysn,jdbcType=VARCHAR},
      deliveryFee = #{deliveryfee,jdbcType=DECIMAL},
      shipName = #{shipname,jdbcType=VARCHAR},
      shipArea = #{shiparea,jdbcType=VARCHAR},
      shipAreaPath = #{shipareapath,jdbcType=VARCHAR},
      shipAddress = #{shipaddress,jdbcType=VARCHAR},
      shipZipCode = #{shipzipcode,jdbcType=VARCHAR},
      shipPhone = #{shipphone,jdbcType=VARCHAR},
      shipMobile = #{shipmobile,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      deliveryType_id = #{deliverytypeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>