<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.shop.merchandise.dao.MerchandiseProductDAO">

	 <resultMap id="resultMap" type="cloud.shop.merchandise.entity.MerchandiseProduct">
        <result column="ID" property="id" jdbcType="VARCHAR"  />       
        <result column="NAME" property="name" jdbcType="VARCHAR"  />
        <result column="CREATE_TIME" property="create_time" jdbcType="TIMESTAMP"  />
        <result column="UPDATE_TIME" property="update_time" jdbcType="TIMESTAMP"  />        
        <result column="description" property="description" jdbcType="VARCHAR"  />        
        <result column="isBest" property="isBest" jdbcType="BIT"  />   
        <result column="isHost" property="isHost" jdbcType="BIT"  />  
        <result column="isNew" property="isNew" jdbcType="BIT"  />  
        <result column="isMarketable" property="isMarketable" jdbcType="BIT"  />               
        <result column="marketPrice" property="marketPrice" jdbcType="DECIMAL"  />
        <result column="price" property="price" jdbcType="DECIMAL"  /> 
        <result column="productImageListStore" property="productImageListStore" jdbcType="LONGVARCHAR"  />  
        <result column="productEntiretyImageListStore" property="productEntiretyImageListStore" jdbcType="LONGVARCHAR"  />  
        <result column="productDetailImageListStore" property="productDetailImageListStore" jdbcType="LONGVARCHAR"  />   
        <result column="productAssemblyImageListStore" property="productAssemblyImageListStore" jdbcType="LONGVARCHAR"  />
        <result column="metaDescription" property="metaDescription" jdbcType="LONGVARCHAR"  />
        <result column="metaKeywords" property="metaKeywords" jdbcType="LONGVARCHAR"  />
        <result column="title" property="title" jdbcType="VARCHAR"  />
        <result column="chtitle" property="chtitle" jdbcType="VARCHAR"  />      
        <result column="name" property="name" jdbcType="VARCHAR"  /> 
        <result column="productSn" property="productSn" jdbcType="VARCHAR"  />
        <result column="brand_id" property="brand_id" jdbcType="VARCHAR"  />
        <result column="productcategory_id" property="productcategory_id" jdbcType="VARCHAR"  />  
        <result column="productType_id" property="productType_id" jdbcType="VARCHAR"  />
        <result column="product_parameters" property="product_parameters" jdbcType="LONGVARCHAR"  />           
    </resultMap>
	
	<insert id="insertMerchandiseProduct" parameterType="cloud.shop.merchandise.entity.MerchandiseProduct"> 
		insert into t_product
		( 
			ID,NAME,CREATE_TIME,UPDATE_TIME,description, isBest,isHost,isNew,isMarketable,marketPrice,price,productImageListStore,productEntiretyImageListStore,productDetailImageListStore,productAssemblyImageListStore,metaDescription,metaKeywords,title,chtitle,productSn,brand_id,productcategory_id,productType_id,product_parameters
		) 
		value
		( 
			#{id},#{name},#{create_time},#{update_time},#{description},#{isBest},#{isHost},#{isNew},#{isMarketable},#{marketPrice},#{price},#{productImageListStore},#{productEntiretyImageListStore},#{productDetailImageListStore},
			#{productAssemblyImageListStore},#{metaDescription},#{metaKeywords},#{title},#{chtitle},#{productSn},#{brand_id},#{productcategory_id},#{productType_id},#{product_parameters}
		) 
	</insert>
	
	<update id="updateMerchandiseProduct" parameterType="cloud.shop.merchandise.entity.MerchandiseProduct"> 
		update t_product
		 <set>
        	<if test="null != name">
				name = #{name},
			</if>
			<if test="null != update_time">
				update_time = #{update_time},
			</if>
			<if test="null != description">
				description = #{description},
			</if>
			<if test="null != isBest">
				isBest = #{isBest},
			</if>
			<if test="null != isHost">
				isHost = #{isHost},
			</if>			
			<if test="null != isNew">
				isNew = #{isNew},
			</if>
			<if test="null != isMarketable">
				isMarketable = #{isMarketable},
			</if>
			<if test="null != marketPrice">
				marketPrice = #{marketPrice},
			</if>
			<if test="null != price">
				price = #{price},
			</if>
			<if test="null != productImageListStore">
				productImageListStore = #{productImageListStore},
			</if>
			<if test="null != productEntiretyImageListStore">
				productEntiretyImageListStore = #{productEntiretyImageListStore},
			</if>
			<if test="null != productDetailImageListStore">
				productDetailImageListStore = #{productDetailImageListStore},
			</if>
			<if test="null != productAssemblyImageListStore">
				productAssemblyImageListStore = #{productAssemblyImageListStore},
			</if>
			<if test="null != productAssemblyImageListStore">
				metaDescription = #{metaDescription},
			</if>	
			<if test="null != productAssemblyImageListStore">
				metaKeywords = #{metaKeywords},
			</if>	
			<if test="null != productAssemblyImageListStore">
				title = #{title},
			</if>	
			<if test="null != chtitle">
				chtitle = #{chtitle},
			</if>
			<if test="null != productSn">
				productSn = #{productSn},
			</if>	
			<if test="null != brand_id">
				brand_id = #{brand_id},
			</if>	
			<if test="null != productcategory_id">
				productcategory_id = #{productcategory_id},
			</if>
			<if test="null != productType_id">
				productType_id = #{productType_id},
			</if>
			<if test="null != product_parameters">
				product_parameters = #{product_parameters},
			</if>						
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM t_product WHERE id = #{id}
	</delete>
	
	<sql id="allColumns"> 
		ID,NAME,CREATE_TIME,UPDATE_TIME,description, isBest,isHost,isNew,isMarketable,marketPrice,price,productImageListStore,productEntiretyImageListStore,productDetailImageListStore,productAssemblyImageListStore,metaDescription,metaKeywords,title,chtitle,productSn,brand_id,productcategory_id,productType_id
	</sql>
	
	<select id="getMerchandiseProductList" parameterType="cloud.shop.merchandise.entity.MerchandiseProduct" resultMap="resultMap" >
        SELECT
				tp.ID,
				tp. NAME,
				tp.CREATE_TIME,
				tp.UPDATE_TIME,
				tp.description,
				tp.isBest,
				tp.isHost,
				tp.isNew,
				tp.isMarketable,
				tp.marketPrice,
				tp.price,
				tp.productImageListStore,
				tp.productEntiretyImageListStore,
				tp.productDetailImageListStore,
				tp.productAssemblyImageListStore,
				tp.metaDescription,
				tp.metaKeywords,
				tp.title,
				tp.chtitle,				
				tp.productSn,
				tb.name as brand_id,
				tpc.name as productcategory_id,
				tpt.name as  productType_id
			FROM
				t_product tp
			LEFT JOIN t_product_category tpc ON tpc.id = tp.productcategory_id
			LEFT JOIN t_brand tb ON tb.id = tp.brand_id
			LEFT JOIN t_product_type tpt ON tpt.id = tp.productType_id
			where 1=1
		<if test="null != id and id != ''">
			AND tp.id = #{id}
		</if>
		<if test="null != name and name != ''">
			AND tp.name like #{name}
		</if>
		<if test="null != brand_id and brand_id != ''">
			AND tp.brand_id like #{brand_id}
		</if>
		<if test="null != productcategory_id and productcategory_id != ''">
			AND tp.productcategory_id like #{productcategory_id}
		</if>
		<if test="null != productType_id and productType_id != ''">
			AND tp.productType_id like #{productType_id}
		</if>		
		limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="merchandiseProductCount" parameterType="cloud.shop.merchandise.entity.MerchandiseProduct" resultType="int" >
        SELECT count(1) FROM t_product  WHERE 1=1
		<if test="null != id and id != ''">
			AND id = #{id}
		</if>
		<if test="null != name and name != ''">
			AND name like #{name}
		</if>		
    </select>	
	<select id="selectCheckId" parameterType="cloud.shop.merchandise.entity.MerchandiseProduct" resultType="cloud.shop.merchandise.entity.MerchandiseProduct" >
          SELECT * FROM t_product  WHERE id = #{id}
    </select>
    
   <select id="getMerchandiseProductConditionList"  resultMap="resultMap" >
      SELECT * FROM t_product  WHERE productcategory_id in
          <foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
                       #{item}  
          </foreach>  
    </select>
    
    <select id="getProductConditionFiveList"  resultMap="resultMap" >
      SELECT * FROM t_product  WHERE productcategory_id in
          <foreach item="item" index="index" collection="array"  open="(" separator="," close=")">  
                       #{item}  
         </foreach>  
             
    </select>
    
    <select id="getPageGoodsCount"  resultType="int" >
      SELECT count(1) FROM t_product  WHERE productcategory_id in
          <foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
                       #{item}  
          </foreach>  
    </select>
    
    <select id="getPageGoodsList"  resultMap="resultMap"  parameterType="java.util.Map">
      SELECT * FROM t_product  WHERE    productcategory_id in
          <foreach item="item" index="index" collection="arr" open="(" separator="," close=")">  
                      #{item}  
          </foreach> 
            limit #{pageIndex},#{pageSize} 
    </select>
    
     <select id="getPageGoodsNameCount"  resultType="int" parameterType="java.lang.String">
           SELECT count(1) FROM t_product  WHERE 1=1 
			<if test = " _parameter!=null and _parameter!='' ">
			AND name = #{_parameter}
			</if>	
    </select>
    
    <select id="getPageGoodNamesList"  resultMap="resultMap"  parameterType="cloud.shop.merchandise.entity.MerchandiseProduct">
      SELECT * FROM t_product  WHERE 1=1
      <if test = " name and name!='' ">
		AND name = #{name}
	</if>	
            limit #{pageIndex},#{pageSize} 
    </select>
    
    <select id="getStartProdouctList"  resultMap="resultMap" >
     SELECT * from t_product where isBest ='0' LIMIT 5
    </select>
    
     <select id="getHardwareProdouctList"  resultMap="resultMap" >
     SELECT * from t_product  LIMIT 8
    </select>
    
     <select id="getRecommendProdouctList"  resultMap="resultMap" >
     SELECT * from t_product where isHost ='0' LIMIT 5
    </select>
    
    <select id="getCategoryIds"  resultMap="resultMap" parameterType="java.lang.String">
           SELECT * from t_product t where t.name=#{keyword}
    </select>
    
</mapper>